.bag{
   transition: all 0.4s ease-in-out;

}

.bag:hover{
    

    box-shadow: rgba(0, 0, 0, 0.733) 0px 5px 15px;
   
}

.box_col{
    background-color: #172a45;
}

.bucket{
   width: 100%;
   display: grid;


}